/* *{
    margin: 5px;  
} */
/*root*/
:root{
    --color-1: #093FB4;
    --color-2: #e67514;
    --color-3: #212121;
    --color-4: #ab772e;
    --color-5: #093FB9;
    --color-6: #15177d;
    --color-7: #dcdcfc;
    --text-color: #313345;
}
/*header*/
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
#logo{
    color: white;
    text-shadow: 1px 2px 1px var(--text-color);
    cursor: pointer;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*hero section*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80vh;
    margin-top: 2px;
    padding: 10px;
    animation: SlideFromBottom 2s ease-in-out;
    background: linear-gradient(to bottom, var(--color-6), var(--color-3));
    color: white;
}
/*keyframes*/
@keyframes SlideFromBottom{
    from{
        transform: translateY(500px);
        opacity: 1;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/*intros*/
h3{
    text-shadow: 1px 1px 1px var(--text-color);
    font-family: lucida Grande;
    font-size: 3em;
    margin-top: 150px;
    margin-bottom: 0px;
}

.h1-101{
    text-shadow: 1px 2px 1px var(--text-color);
    font-size: 10em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.intro{
    font-size: 1.1em;
    margin-top: 0px;
}

.cta-btn{
    margin-top: 50px;
    margin-bottom: 100px;
    border: solid 1px var(--color-7);
    border-radius: 10px;
    padding: 10px;
    width: 20rem;
    font-size: 1em;
    color: var(--color-6);
    transition: background-color 1s ease;
    animation: fade-in 4s ease-in-out;
    background-color: var(--color-7);

}

.cta-btn:hover{
    cursor: pointer;
    background-color: var(--color-6);
    color: var(--color-7)
}

/*div father*/
.father{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    color: var(--color-6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: SlideFromRight 2s ease-in-out;
}

/*keyframe for father*/
@keyframes SlideFromRight{
    from{
        transform: translateX(500px);
        opacity: 1;

    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

/*keyframe for mother*/
@keyframes SlideFromBottom{
    from{
        transform: translateY(500px);
        opacity: 1;
    }
    to{ transform: translateY(0px);
        opacity: 1;
    }
}

/*cards*/
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
    border: solid 1px var(--color-6);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--color-6);
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1em;
    width: 15em;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    animation: FadeIn 2s ease-in-out;
    transition: FadeIn 1s ease;   
}

/*card heading*/
.head-1, .head-2, .head-3, .head-4, .head-5, .head-6{
    text-align: center;
}

/*card line*/
.card-hr-line{
    width: 100%;
    height: 0;
    border: 1px solid var(--color-6);
    
}

/*card buttons*/
.card-btn{
    font-weight: 600;
    font-size: 20px;
    border: 1px solid var(--color-1);
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    background: white;
    color: var(--color-6);
    transition: FadeIn 1s ease;
    animation: FadeIn 1s ease-in-out;
}

/*card buttons effect*/
.card-btn:hover{
    cursor: pointer;
    background: var(--color-7);
}

/*card effects*/
.card-1:hover{
    cursor: pointer;
    background-color: var(--color-7);
}
.card-2:hover{
    cursor: pointer;
    background-color: var(--color-7);
}
.card-3:hover{
    cursor: pointer;
    background-color: var(--color-7);
}
.card-4:hover{
    cursor: pointer;
    background-color: var(--color-7);
}
.card-5:hover{
    cursor: pointer;
    background-color: var(--color-7);
}
.card-6:hover{
    cursor: pointer;
    background-color: var(--color-7);
}

/*footer*/
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    background: var(--color-6);
}

/*MEDIA QUERIES*/

/* for tablets */
@media (max-width: 856px) {
    .hero{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
    }
    h3{
        font-size: 2em;
    }
    .h1-101{
        font-size: 5em;
    }
    .intro{
        font-size: 0.7em;
    }
    .cta-btn{
        width: 13rem;
        font-size: 0.6em;
    }
    .father, .mother{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
        justify-items: center;
        align-items: center;
        /* text-align: justify; */
        font-size: 0.5em;
        width: 14em;
        height: 35em;
    }
    .card-btn{
        padding: 3px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 0.8em;
    }
}

@media (max-width: 853px) {
    .hero{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
    }
    h3{
        font-size: 2em;
    }
    .h1-101{
        font-size: 5em;
    }
    .intro{
        font-size: 0.7em;
    }
    .cta-btn{
        width: 13rem;
        font-size: 0.6em;
    }
    .father{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
        justify-items: center;
        align-items: center;
        /* text-align: justify; */
        font-size: 0.5em;
        width: 14em;
        height: 35em;
    }
    .card-btn{
        padding: 3px;
        font-size: 1.6em;
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 0.8em;
    }
}

@media (max-width: 613px) {
    .hero{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
    }
    h3{
        font-size: 2em;
    }
    .h1-101{
        font-size: 5em;
    }
    .intro{
        font-size: 0.7em;
    }
    .cta-btn{
        width: 13rem;
        font-size: 0.6em;
    }
    .father{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
        justify-items: center;
        align-items: center;
        /* text-align: justify; */
        font-size: 0.5em;
        width: 14em;
        height: 35em;
    }
    .card-btn{
        padding: 3px;
        font-size: 1.6em;
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 0.8em;
    }
}

@media (max-width: 444px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7em;
        padding: 15px;
    }
    #logo{
        justify-self: self-start;
        text-align: left;
        margin-right: auto;

    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;   
    }
    h3{
        font-size: 1em;
        margin-top: 0px;
    }
    .h1-101{
        font-size: 4em;   
    }
    .intro{
        font-size: 0.5em;
        
    }
    .cta-btn{
        padding: 7px;
        width: 9rem;
        font-size: 0.6em;
    }
    .father{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* flex-direction: column; */
        max-width: 600px;
        justify-content: center;
        align-items: center;
    }
    .card-btn{
        font-size: 13px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        font-size: 0.7em;
    }    
}