*{
    margin: 5px;
    
}
/*root*/
:root{
    --color-1: #3a33bd;
    --color-2: #ab772e;
    --color-3: #27ab51;
    --color-4: #dce8de;
    --text-color: #313345;
}
/*header*/
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
#logo{
    color: white;
    text-shadow: 1px 2px 1px var(--text-color);
    cursor: pointer;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*hero section*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60vh;
    padding: 10px;
    animation: SlideFromBottom 2s ease-in-out;
    background: linear-gradient(to top, white, var(--color-1));
    color: white;
}
/*keyframes*/
@keyframes SlideFromBottom{
    from{
        transform: translateY(500px);
        opacity: 1;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/*intros*/
h3{
    text-shadow: 1px 1px 1px var(--text-color);
    font-family: lucida Grande;
    font-size: 3em;
    margin-top: 150px;
    margin-bottom: 0px;
}

.h1-101{
    text-shadow: 1px 2px 1px var(--text-color);
    font-size: 10em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.intro{
    text-shadow: 1px 1px 1px black;
    font-size: 1.1em;
    margin-top: 0px;
}

.cta-btn{
    margin-top: 50px;
    margin-bottom: 100px;
    border: solid 1px var(--color-3);
    border-radius: 10px;
    padding: 10px;
    width: 20rem;
    font-size: 1em;
    color: white;
    transition: background-color 1s ease;
    animation: fade-in 4s ease-in-out;
    background-color: var(--color-3)

}

.cta-btn:hover{
    cursor: pointer;
    background-color: #313345;
}

/*div father*/
.father{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 120px;
    align-items: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: SlideFromRight 2s ease-in-out;
}

/*keyframe for father*/
@keyframes SlideFromRight{
    from{
        transform: translateX(500px);
        opacity: 1;

    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

/*div mother*/
.mother{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    animation: SlideFromBottom 2s ease-in-out;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*keyframe for mother*/
@keyframes SlideFromBottom{
    from{
        transform: translateY(500px);
        opacity: 1;
    }
    to{ transform: translateY(0px);
        opacity: 1;
    }
}

/*cards*/
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
    border: solid 1px var(--color-3);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--color-3);
    justify-items: center;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
    font-size: 1em;;
    width: 15em;
    height: 22em;
    padding: 10px;
    margin-top: 30px;
    animation: FadeIn 2s ease-in-out;
    transition: FadeIn 1s ease;   
}

/*card heading*/
.head-1, .head-2, .head-3, .head-4, .head-5, .head-6{
    text-align: center;
}

/*card line*/
.card-hr-line{
    width: 100%;
    height: 0;
    border: 1px solid var(--color-3);
    
}

/*card buttons*/
.card-btn{
    border: 1px solid var(--color-1);
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    background: white;
    color: var(--color-1);
    transition: FadeIn 1s ease;
    animation: FadeIn 1s ease-in-out;
}

/*card buttons effect*/
.card-btn:hover{
    cursor: pointer;
    background: var(--color-4);
}

/*card effects*/
.card-1:hover{
    cursor: pointer;
    background-color: var(--color-4);
}
.card-2:hover{
    cursor: pointer;
    background-color: var(--color-4);
}
.card-3:hover{
    cursor: pointer;
    background-color: var(--color-4);
}
.card-4:hover{
    cursor: pointer;
    background-color: var(--color-4);
}
.card-5:hover{
    cursor: pointer;
    background-color: var(--color-4);
}
.card-6:hover{
    cursor: pointer;
    background-color: var(--color-4);
}

/*footer*/
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    background: var(--color-3);
}

/*MEDIA QUERIES*/

/*for tablets*/
@media (max-width: 856px) {
    .hero{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
    }
    h3{
        font-size: 2em;
    }
    .h1-101{
        font-size: 7em;
    }
    .intro{
        font-size: 0.7em;
    }
    .cta-btn{
        width: 13rem;
        font-size: 0.6em;
    }
    .father, .mother{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
        justify-items: center;
        align-items: center;
        text-align: justify;
        font-size: 0.5em;
        width: 14em;
        height: 30em;

    }
    .card-btn{
        padding: 3px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 0.8em;
    }
}

/*for mobile*/
@media (max-width: 415px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7em;
        padding: 15px;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    h3{
        font-size: 1em;
        margin-top: 0px;
    }
    .h1-101{
        font-size: 4em;   
    }
    .intro{
        font-size: 0.4em;
    }
    .cta-btn{
        padding: 7px;
        width: 9rem;
        font-size: 0.4em;
    }
    .father, .mother{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        font-size: 0.7em;
    }    
}